@font-face
{
    font-family: 'icons';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/icons.woff') format('woff'), url('../fonts/icons.woff2') format('woff2');
}

@font-face
{
    font-family: 'JetBrainsMono';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/JetBrainsMono-Regular.woff') format('woff'), url('../fonts/JetBrainsMono-Regular.woff2') format('woff2');
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Montserrat-Bold.woff') format('woff'), url('../fonts/Montserrat-Bold.woff2') format('woff2');
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Montserrat-BoldItalic.woff') format('woff'), url('../fonts/Montserrat-BoldItalic.woff2') format('woff2');
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Montserrat-Italic.woff') format('woff'), url('../fonts/Montserrat-Italic.woff2') format('woff2');
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Montserrat-LightItalic.woff') format('woff'), url('../fonts/Montserrat-LightItalic.woff2') format('woff2');
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: 300;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Montserrat-Light.woff') format('woff'), url('../fonts/Montserrat-Light.woff2') format('woff2');
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Montserrat-Medium.woff') format('woff'), url('../fonts/Montserrat-Medium.woff2') format('woff2');
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Montserrat-SemiBold.woff') format('woff'), url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
}

@font-face
{
    font-family: 'Poppins';
    font-weight: 900;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Poppins-Black.woff') format('woff'), url('../fonts/Poppins-Black.woff2') format('woff2');
}

@font-face
{
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.woff2') format('woff2');
}
@supports (-webkit-appearance:none)
{
}
